* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Verdana", sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  display: flex;
  align-items: flex-end;
}

.counter > button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #737373;
  color: #d9d9d9;
  font-size: 1.5rem;
}

.counter > button:hover {
  background-color: #404040;
  color: #d9d9d9;
}

.counter > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
  font-size: 1.5rem;
}

.counter--plus {
  margin-left: -20px;
}

.counter--minus {
  margin-right: -20px;
  z-index: 1;
}

.restart {
  display: flex;
  width: 100px;
  height: 40px;
  margin-top: 1rem;
  border-radius: 25px;
  background-color: #222;
  border: solid 1px #ebebeb;
}

.restart button {
  margin: 0 auto;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #ebebeb;
  font-size: 1rem;
}

.restart:hover {
  background-color: #404040;
  color: #d9d9d9;
}

.restart:focus {
  outline: none;
}